
.heagerclass {
	font-size: 2rem;
}





.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

.header_cl {
background-color:red;
color:#fff;
}

p {
	font-size: 2rem;
}

.combo {
	text-align: center;
	font-size: 2rem;
	color:#000;
}






.poopip{
	color:red;
}

p{
	color:red;
}

.jkruj{
	color:red;
}

.de_list {
	padding: 20px;
}


.de_list {
	color:#fff;
background-color: blue;
display: flex;
justify-content: space-between;
align-items: center;
}

.juu
{
text-align: center;
position: relative;
}
.de_list_item {
	color:red;
	@include transition(all, 0.25s, ease);
	display: flex;
	align-items: center;
	@include trans;
	 @include pxrem(548, 16);
	 height: rem(23px);
	 padding: rem(34px);
	  padding: rem(34px) rem(32px) rem(21px) 0;
}
